$red: #C84941;
$grey: #ABC1C7;
$slate: #67ADB4;
$yellow: #DABB3A;
$brown: #472936;
$green: #1EA061;
$blue: #83909d;
$coral: #f69682;
$teal: #25a29a;
$orange: #eca000;
$prpl: #532d83;



@mixin breakpoint($point) {
  @if $point == desk-max {
    @media (min-width: $desk-max) { @content; }
  }
  @if $point == desk {
    @media (min-width: $desk) { @content; }
  }
  @if $point == pad {
    @media (min-width:$pad)  { @content; }
  }
  @else if $point == phone {
    @media (max-width:$phone)  { @content; }
  }
}