/*--------------------------------------------------------------------------
*
*  Images
*
* This section only sets default image styles. There are no actionables here.
*
*-------------------------------------------------------------------------*/

img {
    vertical-align: middle;
    display: block;
    max-width: 100%;
    height: auto;
}
.img-rounded {
    border-radius: 6px;
}
/* Full width */
img.fw {
    width: 100%;
}



.circle{
    position:relative;
    z-index:1;
    transform:translateY(-50%);
    border-radius:50%;
    overflow:hidden;
    border:4px solid rgba(black,0.2);
    box-shadow:0 2px 6px rgba(black,0.15);
    img{
        display:block;
        border-radius:50%;
    }
}

.top-img{
    // position: relative;
    border-bottom:4px solid rgba(black,0.2);
}