/*--------------------------------------------------------------------------
*
*  Buttons / Links
*
* This section a set of default forms styles, please add/change these styles.
* There are actionables here.
*
*-------------------------------------------------------------------------*/

$link-color: $orange;

.btn{
    position:relative;
    display:inline-block;
    font-size:0.7em;
    line-height:0.9em;
    text-transform:uppercase;
    font-weight:400;
    color:$orange;
    padding:15px 30px;
    background-color:transparent;
    text-decoration: none;
    border:1px solid $orange;
    letter-spacing:1px;
    border-radius:50px;
    transition:all 0.3s ease;
    margin-right:10px;
    &:hover,
    &.active{
        color:white;
        background-color:$orange;
        // border-radius:0;
        transition:all 0.3s ease;
        // background-color:darken($orange,20%);
    }
    &:focus{
        outline:0;
    }
    &:active{
        top:1px;
        outline:0;
    }
    &[type="submit"],
    &.submit{
        font-weight:300;
        color:white;
        background:#666;
        box-shadow:inset 0 -3px 0 darken(#666,10%);
        &:hover{
            background:lighten(#666,5%);
        }
        &:active{
            top:1px;
            box-shadow:inset 0 0 0 darken(#666,10%);
        }
    }
    /* button sizes */
    &.btn-sm{
        font-size:0.65em;
        padding:10px 20px;
        &:active{
            top:1px;
        }
    }
    &.btn-lg{
        padding:25px 50px;
        &:active{
            top:1px;
        }
    }
    &.btn-block{
        display:block;
        text-align:center;
    }
    &.btn-animate-icon{
        i{
            position:relative;
            transition:all 0.3s ease;
            left:0;
        }
        &:hover{
            i{
                left:8px;
                transition:all 0.3s ease;
            }
        }
    }
    &.active.btn-animate-icon{
        i{
            left:8px;
        }
    }
}
a{
    color:$link-color;
    text-decoration:none;
    cursor:pointer;
}
