/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "./_default.scss";
@import "./_custom.scss";
@import "./_type.scss";
@import "./_grid.scss";
@import "./_tables.scss";
@import "./_forms.scss";
@import "./_links.scss";
@import "./_img.scss";
@import "./_lists.scss";
@import "./_helpers.scss";
@import "./_plugin.scss";




body{
    background:white;
    >.container{
        overflow-x:hidden;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }
}
.fh{
    height:100%;
}
// .row{
//     height:100%;
// }
section{
    position:relative;
    height:100%;
}
aside{
    // position:fixed;
    height:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    overflow-y:auto;
    overflow-x:hidden;
    background-color:rgba(black,0.3);
    @include breakpoint(pad){
        height:100%;
    }
    .row &.fw{
        padding-left:0;
        padding-right:0;
    }
}
section{
    .row &.fw{
        padding-left:0;
        padding-right:0;
    }
}

.top-img{
    position:relative;
    height:auto;
    padding-bottom:66.25%;
    .swiper-container{
        position:absolute;
    }
}


.vcard{
    color:white;
    h1,h2,h3,h4,h5,h6{
        text-shadow:0 1px 1px rgba(black,0.2);
    }
    h1{
        margin-top:-10%;
        margin-bottom:0;
    }
    .h5{
        font-size:0.75em;
    }
    .about-me{
        padding:5%;
        h3{
            // margin-top:0;
            margin-bottom:0.5em;
        }
        div{
            font-size:0.8em;
        }
    }
    .social{
        margin-top:15%;
        li{
            position:relative;
            &:first-child{
                a{
                    border-top:1px solid rgba(black,0.075);
                }
            }
            i{
                font-size:1.3em;
                position:absolute;
                left:3%;
            }
            span{
                font-size:0.9em;
            }
            a{
                color:rgba(white,0.9);
                display:block;
                padding:15px 20px;
                padding-left:21%;
                border-bottom:1px solid rgba(black,0.075);
                text-shadow:0 1px 1px rgba(black,0.2);
                transition: color 0.3s ease;
                &:hover{
                    color:white;
                    background-color:rgba(black,0.02);
                    transition:color 0.3s ease, background-color 0.3s ease;
                }
            }
        }
    }
}

.padding{
    padding:5%;
}
.padding-2{
    padding:2%;
}
.padding-side-2{
    padding-left:2%;
    padding-right:2%;
}
.swiper-slide{
    header{
        background-color:white;
        padding-top:1%;
        padding-bottom:1%;
    }
    .pos-ab{
        position:absolute;
        bottom:0;
        height:auto;
        // width:100%;
    }
    .btn{
        @include breakpoint(phone) {
            float:none;
        }
    }
}

.swiper-slide{
    .img{
        height:90%;
    }
}

.slide-wedrinkin{
    background-position: center center;
    background-color:#31b69f;
}
.slide-mmi{
    background-position: center center;
    background-color:rgba($prpl,0.75);
}
.slide-said{
    background-position: center center;
    background-color:$grey;
}
.slide-dome{
    background-position: center center;
    background-color:$yellow;
}
.slide-bdg{
    background-position: center center;
    background-color:$blue;
}
.slide-fhfc{
    background-position: center center;
    background-color:$orange;
}
.slide-poster{
    background-position: center center;
    background-color:rgba(#eee,1);
}
.slide-branding{
    background-position:center center;
    background-color:rgba($slate,0.15);
}
.slide-wedding{
    background-position:center center;
    background-color:$coral;
}
.slide-fns{
    background-position:center center;
    background-color:rgba($blue,0.5);
}
.slide-gitcommit{
    background-position:center center;
    background-color:rgba($teal,0.5);
}