/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "./_default.scss";
@import "./color.scss";
@import "./_custom.scss";
@import "./_type.scss";
@import "./_grid.scss";
@import "./_forms.scss";
@import "./_links.scss";
@import "./_img.scss";
@import "./_lists.scss";
@import "./_helpers.scss";
@import "./_plugin.scss";




body{
    background:white;
    >.container{
        overflow-x:hidden;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }
}
.fh{
    height:100%;
}
// .row{
//     height:100%;
// }
section{
    position:relative;
    height:100%;
}
aside{
    // position:fixed;
    height:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    overflow-y:auto;
    overflow-x:hidden;
    background-color:$offwhite;
    color:$prplDark;
    @include breakpoint(pad){
        height:100%;
    }
    .row &.fw{
        padding-left:0;
        padding-right:0;
    }
}
section{
    .row &.fw{
        padding-left:0;
        padding-right:0;
    }
}

.top-img{
    position:relative;
    height:auto;
    padding-bottom:66.25%;
    .swiper-container{
        position:absolute;
        width:100%;
    }
}


.vcard{
    // color:white;
    h1,h2,h3,h4,h5,h6{
        text-shadow:0 1px 1px rgba(white,0.05);
    }
    h1{
        margin-top:-10%;
        margin-bottom:0;
    }
    .h5{
        font-size:0.75em;
        padding-left:10px;
        padding-right:10px;
    }
    .about-me{
        font-size:1.35em;
        line-height:1.5em;
        padding:5%;
        h3{
            // margin-top:0;
            margin-bottom:0.5em;
        }
        div{
            font-size:0.8em;
        }
    }
    .social{
        margin-top:15%;
        li{
            position:relative;
            display:inline-block;
            i{
                font-size:2em;
                position:absolute;
                left:50%;
                top:50%;
                transform:translate(-50%, -50%)
            }
            span{
                font-size:0.9em;
            }
            a{
                display: inline-block;
                position: relative;
                padding: 20px 30px;
                transition: color 0.3s ease;
                &:hover{
                    transition:color 0.3s ease, background-color 0.3s ease;
                    .hoverable{
                        opacity:1;
                        visibility:visible;
                    }
                }
                &:active,
                &:focus{
                    outline:0;
                }
                .hoverable{
                    display:flex;
                    position:absolute;
                    top:-75%;
                    opacity:0;
                    visibility:none;
                    min-width:50px;
                    background-color:$orange;
                    color:white;
                    padding:3px 15px;
                    border-radius:50px;
                    left:50%;
                    transform:translateX(-50%);
                    .count{
                        margin-left:auto;
                        padding-left:10px;
                    }
                }
            }
        }
    }
}

.padding{
    padding:5%;
}
.padding-2{
    padding:2%;
}
.padding-side-3{
    padding-left:3%;
    padding-right:3%;
}
.swiper-container{
height:100%;
}
.swiper-slide{
    header{
        background-color:$offwhite;
        padding-top:1%;
        padding-bottom:1%;
    }
    .pos-ab{
        position:absolute;
        bottom:0;
        height:auto;
        // width:100%;
    }
    .btn{
        @include breakpoint(phone) {
            float:none;
        }
    }
    .h6{
        margin-left:10px;
    }
}

.swiper-button-next,
.swiper-button-prev{
    background:white !important;
    color: #000;
    font-size: 1.1em;
    display: inline-block;
    position: absolute;
    top: 50%;
    height: 45px !important;
    width:45px !important;
    border-radius:50%;
    z-index: 1;
    opacity: .1;
    transition:all ease 0.3s;
    text-align:center;
    &:hover{
        opacity:1;
        transition:all ease 0.3s;
    }
    &:focus{
        outline:0;
    }
    i{
        position:absolute;
        margin-top:1px;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        &:before{
            padding:0;
            margin:0;
        }
    }
}
.swiper-button-prev{
    i{
        margin-left:-2px;
    }
}
.swiper-button-next{
    i{
        margin-left:1px;
    }
}

.swiper-slide{
    .img{
        height:90%;
    }
}

.slide-wedrinkin{
    background-position: center center;
    background-color:#31b69f;
}
.slide-ivanhoe{
    background-position: center center;
    background-color:#aad4ec;
}
.slide-tabular{
    background-position: center center;
    background-color:#f1f8ff;
}
.slide-phil{
    background-position: center center;
    background-color:#eee;
}
.slide-mmi{
    background-position: center center;
    background-color:rgba($prpl,0.75);
}
.slide-said{
    background-position: center center;
    background-color:$grey;
}
.slide-dome{
    background-position: center center;
    background-color:$yellow;
}
.slide-bdg{
    background-position: center center;
    background-color:$blue;
}
.slide-fhfc{
    background-position: center center;
    background-color:$orange;
}
.slide-poster{
    background-position: center center;
    background-color:rgba(#eee,1);
}
.slide-branding{
    background-position:center center;
    background-color:rgba($slate,0.15);
}
.slide-wedding{
    background-position:center center;
    background-color:$coral;
}
.slide-fns{
    background-position:center center;
    background-color:rgba($blue,0.5);
}
.slide-gitcommit{
    background-position:center center;
    background-color:rgba($teal,0.5);
}